<!DOCTYPE html>
<html lang="en" xmlns th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add A Student</title>
</head>

<body>

<form action="#" th:action="@{/students/save}" th:object="${student}" method="post">
    Student ID:<input type="text" th:field="*{id}"/>
    <br>
    Student Name:<input type="text" th:field="*{name}"/>
    <br>
    Student Surname:<input type="text" th:field="*{surname}"/>
    <br>
    <input type="submit" value="Add A Student">
</form>

<br>

<a href="/students/">go to the Homepage</a>

</body>


</html>