<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sahsuvar</title>
</head>
<body>
<h2>Student Portal</h2>
<button>
    <a href="/students/new">Add a student </a>
</button>
<br>
<button>
    <a href="/students/list">Student list </a>
</button>
<br>

<form action="/students/update" method="GET">
    Update a Student (with ID )<input type="text" NAME="id"/>
    <input type="Submit" value="Search">
</form>

<br>

<form action="/students/delete" method="post">
    Delete a Student (with ID )<input type="text" NAME="id"/>
    <input type="Submit" value="Delete a Student">
</form>
<br>
<form action="/students/name" method="GET">
    Find Student with name <input type="text" name="name"/>
    <input type="Submit" value="Find Student">
</form>
<br>
<form action="/students/surname" method="GET">
    Find Student with surname <input type="text" name="surname"/>
    <input type="Submit" value="Find Student">
</form>


</body>
</html>