<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sahsuvar</title>
</head>
<body>
<h2>Student Portal</h2>

<a href="/students/new">Add a student </a>
<br>
<a href="/students/list">Student list </a>
<br>

<form action="/students/update" method="GET">
    Update a Student (with ID )<input type="text" NAME="id"/>
    <input type="Submit" value="Search">
</form>

<br>

<form action="/students/delete" method="post">
    Delete a Student (with ID )<input type="text" NAME="id"/>
    <input type="Submit" value="Delete a Student">
</form>




</body>
</html>