<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update A Student</title>
</head>
<body>

<form action="#" th:action="@{/students/save}" th:object="${student}" method="post">
    Student ID:<input type="text" th:field="*{id}"/>
    <br>
    Student Name:<input type="text" th:field="*{name}"/>
    <br>
    Student Surname:<input type="text" th:field="*{surname}"/>
    <br>
    <input type="submit" value="Update A Student">
</form>

<br>

<a href="/students/">go to the Homepage</a>

</body>
</html>